.history
node_modules
public

src/assets
src/components
src/examples
src/plugin
src/router
src/store
src/views

App.vue
index.js
main.js
.browserslistrc
.gitignore
babel.config.js
jsconfig.json
LICENSE
vue.config.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?